/* You can add global styles to this file, and also import other style files */
button:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.growl {
    position:absolute; 
    z-index:1; 
    right:0%; 
    width:30%;
}

.circle:hover {
    cursor: pointer;
}