<div class="bg-faded container-fluid" style=" padding-top: 1rem;">
  <div class="row">
    <div class="col">
      <div class="about-title">
        <h4>About <strong>SkyCase</strong>.</h4>
      </div>
      <p>The SkyCase was born out of a desire for a case that is simple, durable and aesthetically pleasing.  The objective was to create a minimalist case that used few parts and every design element had a purpose.</p>
    </div>
    <div class="col">
      <div class="about-title">
        <h4>About the <strong>Team</strong>.</h4>
      </div>

      <p>We work hard to create a productive environment that captures the best attributes of that culture and make it the way we run our entire business. The emphasis is on delivering working software, proving our ideas and improving the way we do our work.</p>
    </div>
  </div>
</div> 

<div class="bg-faded container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-6 col">
      <img src="../../../assets/images/skycase_overview.png" class="skycase-overview">
    </div>
    <div class="col-sm-5 col">
      <div class="heading-block">
        <span class="before-heading color">Our Product</span>
        <h3><strong>SkyCase</strong></h3>
      </div>
      <p>The SkyCase vents are formed by our “Wing” logo. The vents also allow the camera ribbon cable to be fed through it, eliminating the need for a dedicated slot for the camera cable. Instead of having a long screw that connects to nuts at the top of the case, the top and bottom are screwed down into standoffs or connector nuts. That means both the top and bottom have a clean, finished look. </p>
    </div>
  </div>
</div>


<div class=" container-fluid">
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-sm-6 col rainbow-container">
      <img class="rainbow" src="../../../assets/images/rainbow_corner_rotate.png" >
    </div>
    <div class="col-sm-5 col">
      <div class="heading-block">
        <span class="before-heading color">Something Provocative</span>
        <h3><strong>Features</strong></h3>
      </div>
      <ul>
        <li>A single clear ¼ inch acrylic front and back.</li>
        <li>Camera cable can exit the case through the logo.</li>
        <li>The GPIO cable perfectly fits in the opening on the side.</li>
        <li>A finished look on both sides of the case.</li>
        <li>Open design allows plenty of airflow through the case.</li>
      </ul>
    </div>
    <div class="col-sm-6 col">
      <img class="pull-right rainbow-desktop" src="../../../assets/images/rainbow_corner.png" >
    </div>
  </div>
</div>

<div class="bg-faded container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-6 col shark-container">
      <img class="shark" src="../../../assets/images/black_shark_tech_logo.png">
    </div>
    <div class="col-sm-5 col">
      <div class="heading-block">
        <span class="before-heading color">Our Company</span>
        <h3><strong>Black Shark Tech</strong></h3>
      </div>
      <p>BlackShark Tech is a startup company that provides apex entrance/exit solutions for commercial and government sectors. The company can draw upon the vast experiences and achievements of its members. </p>
    </div>
  </div>
</div>
