<footer class="bg-inverse" style="color:white; height:10%;">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-10 col  ">
				<br>
				<div class="row web">
					<div class="col-sm-6 col logoContainer web">
						<a href="http://www.blacksharktech.com/" target="_blank"><img src="../../../assets/images/black_shark_tech_logo2.png" alt="" class="logo"></a>
					</div>
					<div class="col-sm-6 col">
						<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards --
							we work hard to build software that makes your <em>life</em> easier.</p>

							<div class="row" style="padding: 10px 0;">
								<div class="col-3">
									<a href="https://www.amazon.com/dp/B0751G981T/ref=twister_B0751CMGJY?_encoding=UTF8&th=1" target="_blank" class="white"><i class="fa fa-amazon" aria-hidden="true"></i></a>
								</div>
								<div class="col-3">
									<a href="https://www.facebook.com/blacksharktech/" target="_blank" class="white"><i class="fa fa-facebook-official"></i></a>
								</div>
								<div class="col-3">
									<a href="https://www.linkedin.com/company/blackshark-tech?trk=top_nav_home" target="_blank" class="white"><i class="fa fa-linkedin-square"></i></a>
								</div>
								<div class="col-3">
									<a href="https://www.youtube.com/channel/UC6nVuNLEY3PrYthMj7ijf1w" target="_blank" class="white"><i class="fa fa-youtube"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="mobile">
						<div class="col logoContainer">
							<a href="http://www.blacksharktech.com/" target="_blank"><img src="../../../assets/images/black_shark_tech_logo2.png" alt="" class="logo"></a>
						</div>
						<div class="col">
							<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards --
								we work hard to build software that makes your <em>life</em> easier.</p>

								<div class="row" style="padding: 10px 0;">
									<div class="col-3">
										<a href="https://www.amazon.com/dp/B0751G981T/ref=twister_B0751CMGJY?_encoding=UTF8&th=1" target="_blank" class="white"><i class="fa fa-amazon" aria-hidden="true"></i></a>
									</div>
									<div class="col-3">
										<a href="https://www.facebook.com/blacksharktech/" target="_blank" class="white"><i class="fa fa-facebook-official"></i></a>
									</div>
									<div class="col-3">
										<a href="https://www.linkedin.com/company/blackshark-tech?trk=top_nav_home" target="_blank" class="white"><i class="fa fa-linkedin-square"></i></a>
									</div>
									<div class="col-3">
										<a href="https://www.youtube.com/channel/UC6nVuNLEY3PrYthMj7ijf1w" target="_blank" class="white"><i class="fa fa-youtube"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
