<nav id="header" class="navbar sticky-top navbar-toggleable-sm navbar-inverse bg-inverse">

	<a [scrollTo]="'#home'" [scrollDuration]="200" class="navbar-brand navbar-inverse" style="color:white">
		<img src="../../../assets/images/logo.png" width="60" height="30" class="d-inline-block align-top " alt="">
		SkyCase
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a [scrollTo]="'#about'" [scrollDuration]="200" [scrollOffset]="-50" class="nav-link">About</a>
			</li>
			<li class="nav-item">
				<a [scrollTo]="'#assembly'" [scrollDuration]="200" [scrollOffset]="-50" class="nav-link">Assembly</a>
			</li>
			<li class="nav-item">
				<a [scrollTo]="'#contact'" [scrollDuration]="200" [scrollOffset]="-50" class="nav-link">Support</a>
			</li>
		</ul>
	</div>
</nav>